<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
   <h2>About Us</h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab odit, nostrum molestiae numquam reprehenderit, aspernatur corrupti culpa inventore magni ad ducimus quibusdam quisquam eaque vel, rem consectetur exercitationem eos!</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab odit, nostrum molestiae numquam reprehenderit, aspernatur corrupti culpa inventore magni ad ducimus quibusdam quisquam eaque vel, rem consectetur exercitationem eos!</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab odit, nostrum molestiae numquam reprehenderit, aspernatur corrupti culpa inventore magni ad ducimus quibusdam quisquam eaque vel, rem consectetur exercitationem eos!</p>
  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>